
.NavBar{
  background-color:rgba(73, 208, 73, 0.815);
  padding:5px 11px 2px 11px;
  margin: 0 -0 0 0;
  display: flex;
color: rgb(249, 247, 247);    
}
.NavBar h1{padding-top: 2px;
        border-bottom: 2px solid white;
        }

.NavBar a{ text-decoration: none;
margin:18px 0 0 20px;
font-size:20px;
color: white;
}

.bar{
  position: absolute;
  right: 3px;
  top:30px;
}
*{margin: 0;
}
